<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %5p &lt;%t&gt; %m (%c{1.})%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.sbt.hakaton.task8" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>